/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.botao {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.admin {
    background-color: #007bff;
}

.cadastrar {
    background-color: #28a745;
}

.cliente {
    background-color: #c0da16;
}

.botao:hover {
    opacity: 0.8;
}

.form-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
